<div class="card-inner"
     data-title="{{ fields.title.content|striptags }}"
     data-location="{{ fields.field_location.content|striptags }}"
     data-description="{{ fields.field_fulldesc.content|striptags }}"
     data-price="{{ fields.field_price.content|striptags }}"
     data-rating="{{ fields.field_rating.content|striptags }}"
     data-timing="{{ fields.field_timing.content|striptags }}">

  {{ fields.field_imagee.content }}

  <div class="place-card-body">
    <h3>{{ fields.title.content }}</h3>
    <div class="location">{{ fields.field_location.content }}</div>
    <p>{{ fields.field_description.content }}</p>

    <div class="place-card-footer">
      <span class="price">{{ fields.field_price.content }}</span>
      <span>View Details →</span>
    </div>
  </div>
</div>

